/*** Global Settings ****/
html, body {
	background: url("../images/base_bg.gif") repeat-x scroll center top #B42D50;
	color : #2a3845;
	font-family:tahoma;
	font-size:12px;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}
p { 
	margin : 0;padding : 0;
}
a:visited, a:link {
	color : #a43b55;
	text-decoration : underline;
	background:none;
}
a:hover {
	color : #a43b55;
	text-decoration : none;
	background:none;
}
#left-column h1{ 
	color : #7a2e40;
	margin: 0px 0px 10px 0px;
	padding-bottom : 10px;
	font : normal 17px Georgia, serif;
	border-bottom : 1px solid #efece7;
}
#left-column h2 {
	color : #7a2e40;
	margin : 20px 0 10px;
	padding-bottom : 10px;
	font : normal 17px Georgia, serif;
	border-bottom : 1px solid #efece7;
}
.sidebar h3 {
	color : #7a2e40;
	margin : 10px 0;
	padding-bottom : 10px;
	font : bold 14px Arial, Helvetica, sans-serif;
	border-bottom : 1px solid #efece7;
}
ul {
	padding:0;
	margin:0 0 0 17px;
	list-style: square url(../images/bullet.gif);
}
input, textarea{
	border:1px solid #ccc;
}
.box {
	background : #f7f7f7;
	border : 1px solid #f0e9eb;
	padding : 15px;
}
.clear{
	clear: both;
}
.page_body_title{
	padding-left: 50px;
}
.page_body_title h1 {
	border-bottom:1px solid #EFECE7;
	color:#7A2E40;
	font:17px Georgia,serif;
	margin:0 0 10px;
	padding-bottom:10px;
}
.page_message {
	font : normal 14px Georgia, serif;
	color : #3F0FFF;
	text-align: center;
}
.page_message span{
	color : #FF0000;
}
.message {
	height: 300px;
	padding-top: 80px;
	text-align: center;
}
.message h1 {
	border-bottom:0;
	color:#7A2E40;
	font:17px Georgia,serif;
	margin:0 0 10px;
	padding-bottom:10px;
}
.message h2 {
	border-bottom:0;
	color:#7E6FFF;
	font:17px Georgia,serif;
	margin:0 0 10px;
	padding-bottom:10px;
}
.red{
	color:#ff0000;
}
.static_page_content{
	padding: 10px 50px 0px 50px;
	height: 300px;
}

/*** Layout ****/
#wrapper {
	margin : 0 auto;
	width : 776px;
	border-left : 1px solid #f0e9eb;
	border-right : 1px solid #f0e9eb;
	background-color: #FFFFFF;
}
#header {
	margin : 0 -1px;
}
#bg {
	height : 36px;
	background : url(../images/bg.gif) repeat-x;
	border-left: 1px solid #F0E9EB;
	border-right: 1px solid #F0E9EB;
}
#nav {
	background : #7a2e40;
	padding : 10px 20px;
	text-align : right;
	color : #f6dde3;
}
#nav #left{
	float:left;
	margin-left: 0;
}
#nav li{
	display:inline;
	list-style:none;
}
#nav a{
	padding:5px;
}
#nav a:visited, #nav a:link {
	text-decoration : none;
	color : #f6dde3;
}
#nav a:hover {
	/*text-decoration : underline;*/
	color : #f6dde3;
	background-color: #9F3B54;
}
#main-content {
	margin : 20px auto;
}
#logo {
	margin-bottom : 45px;
	padding-left: 20px;
}
#body_content{
	padding-top:20px;
}
.logotxt1 {
	font : normal 24px Georgia, serif;
	color : #D83B10;
	margin : 10px 0 0 15px;
}
.logotxt2 {
	font : normal 24px Georgia, serif;
	color : #7a2e40;
}
#left-column {
	width : 440px;
	padding : 0 30px 30px;
	float : left;
}
#right-column {
	width : 270px;
	float : right;
}
.crd a:visited, .crd a:link, .crd a:hover{
	text-decoration : none;
	color : #2a3845;
	cursor: text;
}
#footer {
	background : #f7f7f7;
	border-top : 1px solid #f0e9eb;
	padding : 10px 15px;
	clear : both;
	text-align: center;
}

/*** SideBAR ***/
#main-image {
	text-align : center;
}
.sidebar {
	width : 218px;
	margin : 0 auto;
	padding : 10px 25px;
	background : url(../images/shadow.jpg) no-repeat top;
}
